$text-color: rgba(224, 236, 255, 0.24);

.appBar {

  .title {
    flex-grow: 1;
  }

  /* filter query */
  .input {
    flex-grow: 2;
    .inputElement {
      color: white;
      border: 1px solid $text-color;
      border-radius: 10px;
      padding: 0.8rem;
    }
    .bar {
      display: none;
    }
    .icon {
      color: $text-color;
    }
  }

  .clear {
    margin-left: 1rem;
    cursor: pointer;
  }

  /* filter checkbox */
  .field {
    margin-bottom: 0;
    margin-right: 1rem;
    .text {
      color: $text-color;
    }
    .check {
      border-color: $text-color
    }
  }

  .counter {
    color: $text-color;
    margin-right: 3rem;
  }

  .info {
    flex-grow: 1;
    text-align: left;
  }
}
