.GuestCardList {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-items: flex-start;
  align-content: flex-start;
}

.card {
  width: auto;
  margin: 20px;
  white-space: nowrap;
  position: relative;

  .filler {
    flex: 1;
  }

  &.arrived {
    background-color: #00cc00;
  }

  &.isSavingError {
    background-color: rgba(222, 50, 38, 0.37);
  }

  .loadingBar {
    position: absolute;
    bottom: 0;
  }
}
